{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Mon agence Immobiliare</h1>
        <p>Bienvenue sur l'agence...</p>

        {# Dans Symfony, on a accès à une variable globale app #}
        {# dump(app) #}

        {# Pour récupérer la route actuelle #}
        {# app.request.get('_route') #}
    </div>
{% endblock %}
